<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員情報一覧</title>
 <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
 <link href="/css/employee_info.css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
	 /* #sakujo { visibility:hidden }非表示 */
	/*#hyo { visibility:hidden }  非表示 */
</style>
</head>
<body>
<form action="/employee/search" method="POST">
	<div class="display_flex">
		<div class="width_33P">
			<ul class="ulList_01">
				<li><label>社員ID</label></li>
				<li class="width_74P"><input type="text" name="employee_id" maxlength = "10" placeholder="社員IDを入力してください"  th:value="${empInfoSearchRequest.employeeId}"></li>
			</ul>
			<ul class="ulList_01">
				<li><label>入社年月日</label></li>
				<li class="width_74P"><input id="width_42P" type="date" name="nyushaDateS" th:value="${empInfoSearchRequest.nyushaDateS}" maxlength = "20" placeholder="YYYY/MM/DD"> ~ <input id="width_42P" type="date" name="nyushaDateE" th:value="${empInfoSearchRequest.nyushaDateE}" maxlength = "20" placeholder="YYYY/MM/DD"></li>
			</ul>
		</div>
		<div class="width_33P">
			<ul class="ulList_01">
				<li><label>所属</label></li>
				<li class="width_74P">
					<select>
            			<option value=""></option>
            			<option
                			th:each="dept : ${deptList}"
                			th:value="${dept.DEPT_ID}"
                			th:text="${dept.DEPT_NAME}"
                			th:selected="${dept.DEPT_ID == selectedValue}">
            			</option>
        			</select>
				</li>
			</ul>
			<ul class="ulList_01">
				<li>&nbsp;</li>
				<li>&nbsp;</li>
			</ul>
		</div>
		<div class="width_33P">
			<ul class="ulList_01">
				<li>&nbsp;</li>
				<li>&nbsp;</li>
			</ul>
			<ul class="ulList_01">
				<li>&nbsp;</li>
				<li class="display_flex padding_0">
					<div><input class="button" type="submit" value="検索" onclick="document.getElementById('hyo').style.visibility = 'visible';"/></div>
				</li>
				<!-- <li class="width_74P"><input class="width_100P" type="text" name="address" maxlength = "10"></li> -->
			</ul>
		</div>
	</div>
</form> 
<div class="display_flex">
	<div><a th:href="@{/employees/form}" class="btn btn-primary" value= "追加"><input class="button" type="submit" value="追加"/></a></div>
	<div><input class="button" type="button" id ="sakujo" value="削除"  onclick = "deleteInfo()" /></div>
	<div><a href="#"><input class="button" type="submit" value="閉じる"  onclick="history.back();"/></a></div>
	
</div>



<div>

	
	<div class="clearfix" id ="hyo">
		<table class="width_100p">
			<tr>
				<th>選択</th>
				<th>社員ID</th>
				<th>入社年月日</th>
				<th>氏名</th>
				<th>性別</th>
				<th>年齢</th>
				<th>所属</th>
				<th>メールアドレス</th>
			</tr>
			<tr th:each="empList : ${emplist}">
				<th ><input type="checkbox" name="chk"  th:value="${empList.employeeId}" ></th>
				<td th:href="@{/employee/{employee_id}(employee_id=*${empList.employeeId})}" th:text="${empList.employeeId}"></td>
				<td th:text="${empList.nyushaDate}"></td>
				<td th:text="${empList.employeeName}"></td>
				<td th:text="${empList.sexName}"></td>
				<td th:text="${empList.age}"></td>
				<td th:text="${empList.deptName}"></td>
				<td th:text="${empList.mailAddress}"></td>
			</tr>
			
		</table>
	</div>
</div>

<script type="text/javascript">

//ここに処理を記載



</script> 
</body>
</html>