<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kintai.main.mapper.EmployeeInfoMapper">

<!--社員情報一覧検索-->
<select id="search" resultType="com.kintai.main.dto.EmpInfoSearchRequest">
	SELECT
		T.EMPLOYEE_ID AS employeeId,
		T.NYUSHA_DATE AS nyushaDate,
		T.EMPLOYEE_NAME AS employeeName,
		S.SEX AS sex,
		T.AGE AS age,
		D.DEPT_NAME AS deptName,
		T.MAIL_ADDRESS AS mailAddress
	FROM
			t_employee T
	LEFT JOIN m_dept D
		ON T.DEPT_ID = D.DEPT_ID
	LEFT JOIN m_sex S
		ON T.SEX_ID = S.SEX_ID
	WHERE
		T.DEL_FLG = 0
		
		<if test="employeeId != ''">
		AND T.EMPLOYEE_ID = #{employeeId}
		</if>
		<if test="deptId != ''">
		AND T.DEPT_ID = #{deptId}
		</if>
		<!--開始が入力、終了が未入力-->
		<if test="nyushaDateS != null">
		AND T.NYUSHA_DATE &gt;= #{nyushaDateS}
		</if>
		<!--開始が未入力、終了が入力-->
		<if test="nyushaDateE != null">
		AND T.NYUSHA_DATE &lt;= #{nyushaDateE}
		</if>
		<!---->
		<if test="nyushaDateS > nyushaDateE">
		AND T.NYUSHA_DATE BETWEEN #{nyushaDateE} AND #{nyushaDateS}
		</if>
		<if test="nyushaDateE > nyushaDateS">
		AND T.NYUSHA_DATE BETWEEN #{nyushaDateS} AND #{nyushaDateE}
		</if>
	


</select>
<!--削除-->
<update id="delete">
UPDATE 
	T_EMPLOYEE
SET
	DEL_FLG = 1,
	UPDATE_DATE = CURRENT_TIMESTAMP
WHERE
	EMPLOYEE_ID = #{employeeID}

</update>


</mapper>